.about {
  display: flex;
  width: 85%;
  margin: auto;
  padding-top: 100px;
  padding-bottom: 120px;
  column-gap: 85px;
}

.about__title {
  font-family: "Forum";
  font-size: 52px;
  color: #055977;
  margin-bottom: 38px;
  text-transform: uppercase;
}

.about__image {
  width: 600px;
}

.about__paragraph {
  font-size: 16px;
  margin-bottom: 20px;
  font-weight: 400;
}

.about__paragraph:first-of-type {
  font-weight: 600;
}
