.stats {
  background-image: url("../images/stats.png");
  background-size: cover;
  background-position: center;
  color: #fff;
  padding-top: 100px;
  padding-bottom: 120px;
}

.stats-container {
  width: 85%;
  max-width: 1280px;
  margin: auto;
}

.stats__title {
  font-family: "Forum";
  font-size: 52px;
  margin-bottom: 35px;
  text-transform: uppercase;
  text-shadow: 3px 3px 5px rgb(0, 0, 0, 0.3);
}

.stats__description {
  width: 600px;
  margin-bottom: 20px;
  line-height: 1.4;
  text-shadow: 2px 2px 3px rgb(0, 0, 0, 0.5);
}

.stats__list {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding: 0;
  margin-top: 80px;
}

.stat {
  background-color: #fff;
  min-width: 200px;
  height: 200px;
  border-radius: 15px;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  color: #000;
  align-items: center;
  justify-content: center;
  box-shadow: 5px 5px 20px rgb(0, 0, 0, 0.5);
}

.stat__icon {
  width: 35px;
  padding-bottom: 5px;
}

.stat__number {
  font-size: 36px;
  font-weight: 700;
  margin-bottom: 5px;
}

.stat__label {
  width: 120px;
  text-align: center;
}

@media screen and (max-width: 1025px) {
  .stats__title {
    font-size: 48px;
  }

  .stat {
    min-width: 170px;
    height: 170px;
  }

  .stat__number {
    font-size: 28px;
  }

  .stat__label {
    font-size: 14px;
  }
}

@media screen and (max-width: 915px) {
  .stats {
    padding-top: 70px;
    padding-bottom: 100px;
  }

  .stats__title {
    font-size: 42px;
    text-align: center;
  }

  .stats__description {
    width: 80%;
    font-size: 14px;
    margin: auto;
    margin-bottom: 15px;
  }

  .stats__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 35px;
    margin-top: 30px;
  }

  .stat {
    width: 200px;
    height: 200px;
  }

  .stat:nth-child(odd) {
    justify-self: end;
  }

  .stat:nth-child(even) {
    justify-self: start;
  }

  .stat__number {
    font-size: 32px;
  }

  .stat__label {
    font-size: 16px;
  }
}

@media screen and (max-width: 500px) {
  .stats {
    padding-top: 60px;
    padding-bottom: 80px;
  }

  .stats__title {
    font-size: 36px;
    margin-bottom: 20px;
  }

  .stats__description {
    width: 100%;
    text-align: center;
  }

  .stats__list {
    margin-top: 50px;
    gap: 20px;
  }

  .stat {
    width: 160px;
    height: 160px;
  }
}
